body {
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h2,h3,
p,li {
    color: antiquewhite;
    font-family: 'Oswald', sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: hidden;
}

.box-contact {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: rgb(31, 45, 73);
    color: antiquewhite;
    padding: 20px;
}

.about_me {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.box-contact hr {
    margin: 0px;
}

.box-contact img {
    width: 70%;
    height: 70%;
    border-radius: 175px;
}

.vertical-line {
    position: relative;
}

.vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
}

.vertical-line::before {
    left: -5px;
}

.vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 79px;
    width: 2px;
    background-color: black;
}

.vertical-line:not(:last-child)::before {
    height: calc(100% + 50px);
}

.vertical-line:last-child::after {
    display: none;
}

.circle-left {
    position: absolute;
    left: -5px;
    top: 22px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

.head {
    margin-left: 40px;
}

.about_me h2:nth-of-type(2) {
    margin: 68px 0 0 40px;
}

.uk-card {
    padding: 0;
    margin-left: 55px;
}

.about_me hr {
    border: none;
    border-top: 1px solid rgb(31, 45, 73);
    margin-left: 40px;
}

.about_me h1,
.about_me h2,
.about_me p {
    color: rgb(31, 45, 73);
}

.about_me p {
    font-size: 1.5em;
}

.about_me h1 {
    font-size: 5em;
}

.about_me h2 {
    font-size: 2em;
}

.uk-grid {
    display: flex;
    flex-direction: column;
}

.uk-first-column {
    padding: 0 0 0 30px;
}

.uk-card-default .uk-card-title {
    font-size: 2em;
    font-weight: bolder;
    color: rgb(31, 45, 73);
}

.uk-card-title {
    margin-left: 12px;
}

.ref_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.ref_div h3 {
    margin-left: 30px;
    color: rgb(31, 45, 73);
    font-size: 2em;
}

.ref_div h2 {
    font-size: 2em;
}

.ref_div span {
    margin-left: 30px;
}
