body{
    width: 100%;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}
h2,h3,
p,li{
    color: antiquewhite;
    font-family: 'Oswald', sans-serif;
}
.content{
    display: flex;
    flex-direction: row;
}

.content .box-contact{
    background: rgb(31, 45, 73);
    max-width: 700px;
    width: 100%;
}
.content .box-contact img{
    width: 350px;
    height: 350px;
    margin: 70px 0 70px 25%;
    border-radius: 175px;
}
.content .box-contact p,
.content .box-contact h2,
.content .box-contact h3,
.content .box-contact ul li,
.content .box-contact hr{
    margin-left: 50px;
}
.content .box-contact  p,
.content .box-contact h2,
.content .box-contact h3,
.content .box-contact  ul li{
    padding: 10px;
}
.about_me{
    margin-top: 50px;
}
.content .about_me h1,
.content .about_me h2,
.content .about_me p{
    color: rgb(31, 45, 73);
    margin: 20px 50px 0 50px;
}
.content .about_me p{
   font-size: 1.5em;
   padding-top: 10px;
   margin-bottom: 75px;
}
.content .about_me h1{
    font-size: 8em;
}
.content .about_me h2{
    font-size: 3em ;
}
.content .about_me hr{
    margin-left: 50px;
}
.uk-grid{
    display: flex;
    flex-direction: column;
}
.uk-grid div{
    width: 100%;
}
.uk-card-default .uk-card-title{
    margin-left: 50px;
    font-size: 2em;
    font-weight: bolder;
    color:  rgb(31, 45, 73);
}
.ref_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ref_div h3{
    margin-left: 50px;
    color:rgb(31, 45, 73);
    font-size: 2em;
}
.ref_div span{
    margin-left: 50px;
}